<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6">
          <ion-card  *ngFor="let contact of contacts">
            <ion-card-header  *ngIf="contact['name']" >
             <ion-icon name="contacts"></ion-icon> <ion-card-title>{{contact.name.givenName}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <strong>{{contact.phoneNumbers[0].value}}</strong>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
