<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-card  *ngFor="let contact of contacts">
    <ion-card-content>
     <ion-item class="callLogList item-lines-none in-list item ion-focusable">
      <div class="listSection" >
              <ion-icon name="contacts"></ion-icon>
        <div class="usernameSection">
                <strong class="userName" >{{contact.displayName}}</strong>
                <br>
                <strong class="descText">{{contact.phoneNumbers[0].value}}</strong>
        </div>
      </div>
    </ion-item>
  </ion-card-content>
  </ion-card>

</ion-content>
