.about-header {
  background-color: var(--ion-color-dark);
  padding: 16px;
  width: 100%;
  height: 30%;
  text-align: center;
  background-size: cover;
}

.about-header img {
  max-height: 100%;
}

.about-info p {
  color: var(--ion-color-dark);
  text-align: center;
}

.about-info div {
  text-align: center
}

.about-info ion-icon {
  margin-inline-end: 32px;
  text-align: center;
}

.ios .about-info {
  text-align: center;
}

.infoList {
  padding: 0;
}
